nav.navbar.navbar-expand-lg.navbar-custom.fixed-top#mainNav
	a.navbar-brand(href="/") inspectware
	button.navbar-toggler(
		type="button"
		data-toggle="collapse"
		data-target="#navbarResponsive"
		aria-controls="navbar"
		aria-expanded="false"
		aria-label="Toggle navigation"
	)
		i.fas.fa-bars
	.collapse.navbar-collapse#navbarResponsive
		ul.navbar-nav.mr-auto
			li.nav-item
				a.nav-link(href="/#features") Features
			li.nav-item
				a.nav-link(href="/signup") Pricing
		a.btn.free-trial-btn(href="/signup") Free Trial
		a.btn.launch-dash-btn(href="/dash") Launch Dashboard
